n8n/workflow_universal.json
{
  "name": "Atualizar Precos - Universal",
  "nodes": [
    {
      "id": "t1",
      "name": "Executar workflow",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [0, 300],
      "parameters": {}
    },
    {
      "id": "t2",
      "name": "JSON de Precos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [220, 300],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "lista_precos",
              "type": "array",
              "value": "=[]"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "t3",
      "name": "Extrair Itens",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300],
      "parameters": {
        "jsCode": "const lista = $json.lista_precos;\nif (!lista || !Array.isArray(lista)) throw new Error('Campo lista_precos ausente ou invalido.');\nreturn lista.map(item => ({ json: item, pairedItem: { item: 0 } }));"
      }
    },
    {
      "id": "t_calc",
      "name": "Comparar e Calcular",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300],
      "parameters": {
        "jsCode": "// Agrupa por produto+atributos e aplica formula de precificacao\nconst items = $input.all().map(i => i.json);\n\nconst grupos = {};\nfor (const item of items) {\n  const chave = item.modeloSite + '|' + JSON.stringify(item.atributos || {});\n  if (!grupos[chave]) {\n    grupos[chave] = {\n      modeloSite: item.modeloSite,\n      atributos:  item.atributos || {},\n      precos: []\n    };\n  }\n  if (item.preco > 0) grupos[chave].precos.push(Number(item.preco));\n}\n\nconst resultados = [];\nfor (const g of Object.values(grupos)) {\n  if (g.precos.length === 0) continue;\n  const menor = Math.min(...g.precos);\n  const maior = Math.max(...g.precos);\n  const variacao = maior - menor;\n  let preco, preco_atacado;\n\n  if (g.modeloSite.toLowerCase().includes('iphone')) {\n    // Formula iPhone: varejo = min(maior+50, menor+65)\n    preco = Math.min(maior + 50, menor + 65);\n    // Atacado em degraus\n    if (variacao <= 35)      preco_atacado = maior + 15;\n    else if (variacao <= 50) preco_atacado = maior + 10;\n    else                     preco_atacado = maior + 5;\n  } else {\n    // Formula farmacos: varejo = maior+12, atacado = maior+5\n    preco = maior + 12;\n    preco_atacado = maior + 5;\n  }\n\n  resultados.push({\n    json: {\n      modeloSite:       g.modeloSite,\n      atributos:        g.atributos,\n      preco,\n      preco_atacado,\n      preco_compra:     menor,\n      preco_maior:      maior,\n      variacao,\n      num_fornecedores: g.precos.length\n    },\n    pairedItem: { item: 0 }\n  });\n}\n\nreturn resultados;"
      }
    },
    {
      "id": "t4",
      "name": "Loop Produtos",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [880, 300],
      "parameters": {
        "batchSize": 1,
        "options": {}
      }
    },
    {
      "id": "t5",
      "name": "Buscar Produto",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1100, 300],
      "parameters": {
        "url": "=https://worldtechparaguai.com/wp-json/wc/v3/products?per_page=100&search={{$json.modeloSite}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "credentials": {
        "httpBasicAuth": { "id": "OxgDYL6BS2Gr1xMG", "name": "Unnamed credential" }
      }
    },
    {
      "id": "t6",
      "name": "Filtrar Produto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1320, 300],
      "parameters": {
        "jsCode": "const lista = $input.all().map(i => i.json);\nconst src = $('Loop Produtos').item.json;\nfunction norm(s){ return (s||'').toLowerCase().replace(/\\s+/g,' ').trim(); }\nconst n0=norm(src.modeloSite);\nconst wPM=n0.includes('pro max');\nconst wP=!wPM&&n0.includes('pro');\nconst wAir=n0.includes('air');\nconst wE=/\\d+e\\b/.test(n0);\nconst wPL=n0.includes('plus');\nlet best=null,pts=-1;\nfor(const item of lista){\n  const n1=norm(item.name||'');\n  const hPM=n1.includes('pro max');\n  const hP=!hPM&&n1.includes('pro');\n  const hAir=n1.includes('air');\n  const hE=/\\d+e\\b/.test(n1);\n  const hPL=n1.includes('plus');\n  if(hPM&&!wPM)continue;\n  if(hP&&!wP)continue;\n  if(hAir&&!wAir)continue;\n  if(hPL&&!wPL)continue;\n  if(wPM&&!hPM)continue;\n  if(wP&&!hP)continue;\n  if(wAir&&!hAir)continue;\n  if(wE&&!hE)continue;\n  if(!wE&&hE)continue;\n  let p=0;\n  for(const w of n0.split(' '))if(n1.includes(w))p++;\n  if(p>pts){pts=p;best=item;}\n}\nif(!best)return[{json:{skip:true,motivo:'produto_nao_encontrado',modeloSite:src.modeloSite},pairedItem:{item:0}}];\nreturn[{json:{...src,pai_id:best.id,pai_nome:best.name},pairedItem:{item:0}}];"
      }
    },
    {
      "id": "t7",
      "name": "Achou Produto?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1540, 300],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{$json.skip}}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notEquals" }
            }
          ],
          "options": {}
        },
        "options": {}
      }
    },
    {
      "id": "t8",
      "name": "Buscar Variacoes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [1760, 300],
      "parameters": {
        "url": "=https://worldtechparaguai.com/wp-json/wc/v3/products/{{$json.pai_id}}/variations?per_page=100",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "credentials": {
        "httpBasicAuth": { "id": "OxgDYL6BS2Gr1xMG", "name": "Unnamed credential" }
      }
    },
    {
      "id": "t9",
      "name": "Filtrar Variacao",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1980, 300],
      "parameters": {
        "jsCode": "const vars=$input.all().map(i=>i.json);\nconst src=$('Loop Produtos').item.json;\nconst atrs=src.atributos||{};\nfunction nv(s){return (s||'').toString().toUpperCase().replace(/\\s+/g,'');}\nfunction match(v,attrs){\n  for(const [k,val] of Object.entries(attrs)){\n    const kn=nv(k); const vn=nv(val);\n    const ok=(v.attributes||[]).some(a=>\n      (nv(a.name)===kn||nv(a.slug).replace(/-/g,'').includes(kn.toLowerCase().replace(/\\s/g,''))) && nv(a.option)===vn\n    );\n    if(!ok)return false;\n  }\n  return true;\n}\nconst found=vars.filter(v=>match(v,atrs));\nif(found.length===0)return[{json:{skip:true,motivo:'variacao_nao_encontrada',atributos:atrs,pai_nome:src.pai_nome},pairedItem:{item:0}}];\nreturn found.map(v=>({json:{...src,var_id:v.id,preco_atual:v.regular_price},pairedItem:{item:0}}));"
      }
    },
    {
      "id": "t10",
      "name": "Achou Variacao?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [2200, 300],
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "leftValue": "={{$json.skip}}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "notEquals" }
            }
          ],
          "options": {}
        },
        "options": {}
      }
    },
    {
      "id": "t11",
      "name": "Atualizar Preco",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [2420, 300],
      "parameters": {
        "method": "PUT",
        "url": "=https://worldtechparaguai.com/wp-json/wc/v3/products/{{$json.pai_id}}/variations/{{$json.var_id}}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "regular_price", "value": "={{$json.preco.toString()}}" },
            { "name": "stock_status",  "value": "instock" }
          ]
        },
        "options": {}
      },
      "credentials": {
        "httpBasicAuth": { "id": "OxgDYL6BS2Gr1xMG", "name": "Unnamed credential" }
      }
    }
  ],
  "connections": {
    "Executar workflow": { "main": [[{ "node": "JSON de Precos",       "type": "main", "index": 0 }]] },
    "JSON de Precos":    { "main": [[{ "node": "Extrair Itens",        "type": "main", "index": 0 }]] },
    "Extrair Itens":     { "main": [[{ "node": "Comparar e Calcular",  "type": "main", "index": 0 }]] },
    "Comparar e Calcular": { "main": [[{ "node": "Loop Produtos",      "type": "main", "index": 0 }]] },
    "Loop Produtos":     { "main": [[{ "node": "Buscar Produto",       "type": "main", "index": 0 }]] },
    "Buscar Produto":    { "main": [[{ "node": "Filtrar Produto",      "type": "main", "index": 0 }]] },
    "Filtrar Produto":   { "main": [[{ "node": "Achou Produto?",       "type": "main", "index": 0 }]] },
    "Achou Produto?": { "main": [
      [{ "node": "Buscar Variacoes", "type": "main", "index": 0 }],
      [{ "node": "Loop Produtos",    "type": "main", "index": 0 }]
    ]},
    "Buscar Variacoes":  { "main": [[{ "node": "Filtrar Variacao",     "type": "main", "index": 0 }]] },
    "Filtrar Variacao":  { "main": [[{ "node": "Achou Variacao?",      "type": "main", "index": 0 }]] },
    "Achou Variacao?": { "main": [
      [{ "node": "Atualizar Preco", "type": "main", "index": 0 }],
      [{ "node": "Loop Produtos",   "type": "main", "index": 0 }]
    ]},
    "Atualizar Preco":   { "main": [[{ "node": "Loop Produtos",        "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
